body{
    background-color: rgb(22, 186, 236);
    /* f5d9df */
    font-family: 'Nunito', sans-serif;

}
body .navbar{
    padding-left: 0px;
}

                /* navbar */

#candy:hover{
    color: chartreuse;
}

#main-navbar .navbar-brand{
    color: rgb(231, 21, 21);
    font-size: 1.8rem;
    font-weight: 200;
}

#main-navbar .nav-link{
    color: white;
    font-size: 1.4rem;
    font-weight: 100;
}
#main-navbar .nav-link:hover{
    color: rgb(231, 21, 21);
}


            /* section */     
h2{
    color: rgb(231, 21, 21);
    font-weight: 100;
    font-size: 2.5rem;
}
#headingGroup span{
    color: rgb(231, 21, 21);
}
#headingGroup h1{
    font-weight: 100;
    color: white;
}
.lead{
    line-height: 40px;
}
#content{
    margin-top: 100px;
}

            /* js navbar */
.navbar.scrolled{
    background-color: rgb(222, 192, 222);
}